@font-face {
  src: url('../../Fonts/Friz\ Quadrata\ Regular.ttf');
  font-family: league;
}

@keyframes animate {
  0% {
    color: '#0e3742';
  }

  80% {
    color: #fff;
    text-shadow: 0 0 20px #ffdc00, 0 0 40px #ffdc00, 0 0 80px #ffdc00,
      0 0 160px #ffdc00, 0 0 320px #ffdc00;
  }

  100% {
    color: #fff;
    text-shadow: 0 0 10px #ffdc00, 0 0 20px #ffdc00, 0 0 40px #ffdc00,
      0 0 80px #ffdc00, 0 0 160px #ffdc00;
    animation-play-state: paused;
  }
}

.layer-bg {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg');
  background-position: bottom center;
  background-size: auto;
}
.layer1 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_03.png');
  background-position: left bottom;
  background-size: auto;
}
.layer2 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png');
  background-position: bottom center;
  background-size: auto;
}
.layer3 {
  background-image: url('../../images/ilu_adam.png');
  background-position: 103% 135%;
  background-size: 700px;
}
.layer4 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png');
  background-position: bottom center;
  background-size: auto;
}
.layer5 {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png');
  background-position: bottom center;
  background-size: auto;
  -webkit-box-shadow: 0px 50px 16px 9px #130d0a;
  box-shadow: 0px 50px 16px 9px #130d0a;
  -webkit-transform: translate3d(0, 0, 0);
}

#heroMobile {
  display: none;
  background: url('../../images/full_ilu_w_adam.png') no-repeat center bottom /
    cover;
  height: 320px;
  width: 100%;
}

@media screen and (max-width: 925px) {
  #parallax {
    display: none;
  }
  #heroMobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1650px) {
  .layer3 {
    background-position: 113% 135%;
  }
}
@media screen and (max-width: 1400px) {
  .layer3 {
    background-position: 123% 135%;
  }
}
@media screen and (max-width: 1200px) {
  .layer3 {
    background-position: 143% 135%;
  }
}
@media screen and (max-width: 1050px) {
  .layer3 {
    background-position: 163% 135%;
  }
}
