.challengerImage {
  background-image: url('../../images/challenger.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.welcomeWrapper {
  background-image: url('../../images/Daco.png');
  background-size: 100%;
  background-repeat: no-repeat;

  animation: move 20s infinite;

  margin-top: -200px;
}

@keyframes move {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }

  50% {
    transform: translate3d(-50px, 0, 0) scale(1.1);
  }

  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

@media screen and (max-width: 1650px) {
  .welcomeWrapper {
    margin-top: -100px;
  }
}
@media screen and (max-width: 1500px) {
  .welcomeWrapper {
    margin-top: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .welcomeWrapper {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1050px) {
  .welcomeWrapper {
    margin-top: 100px;
  }
}

@media screen and (max-width: 925px) {
  .welcomeWrapper {
    margin-top: 120px;
  }
  @keyframes move {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
      transform: translate3d(0, 0, 0) scale(1);
    }

    100% {
      transform: translate3d(0, 0, 0) scale(1);
    }
  }
}

@media screen and (max-width: 700px) {
  .welcomeWrapper {
    margin-top: 200px;
  }
}
