.glassButton {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(2rem);
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1),
    rgba(252, 96, 118, 0.4),
    rgba(255, 154, 68, 0.7),
    rgba(239, 157, 67, 0.7)
  );
  background-size: 300% 100%;
  moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  padding: 12px;
  margin-right: 5px;
}

.glassButton:hover {
  transform: scale(0.97);
  background-position: 100% 0;
}

.linkText {
  font-family: Wotfard-SemiBold;
}
