/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url('./Fonts/Friz\ Quadrata\ Italic.ttf');
  font-family: leagueItalic;
}

@font-face {
  src: url('./Fonts/Friz\ Quadrata\ Regular.ttf');
  font-family: league;
}
